@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #f8ffe5;
  --foreground: #171717;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #21221e;
    --foreground: #e0e0e0;
  }

  .nav-links a {
    color: var(--background);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}

@media screen and (max-width: 768px) {
  .section {
    padding-left: 0;
  }
}

@media screen and (max-width: 1366px) {
  .section {
    padding-left: 1vh;
  }
}
